[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
bcrypt = "*"
flask-jwt-extended = "*"
iso3166 = "*"
python-dotenv = "*"
flake8 = "*"
phonenumbers = "*"
marshmallow = "*"
requests = "*"
marshmallow-sqlalchemy = "*"
flask-uploads = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
