[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restful = "*"
bcrypt = "*"
iso3166 = "*"
python-dotenv = "*"
flake8 = "*"
phonenumbers = "*"
marshmallow = "*"
requests = "*"
marshmallow-sqlalchemy = "*"
flask-uploads = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
quart = "*"
quart-openapi = "*"
quart-jwt-extended = "*"
quart-schema = "*"
flask-bcrypt = "*"
databases = "*"
psycopg2 = "*"
asyncpg = "*"
aiohttp = "*"
aiohttp-requests = "*"
requests-async = "*"
asyncinit = "*"

[dev-packages]

[requires]
python_version = "3.9"
