[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
psycopg2 = "==2.7.5"
flask-bcrypt = "*"
flask-marshmallow = "*"
flask-reqparse = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
requests = "*"
flask-cors = "*"
phonenumbers = "*"
phone-iso3166 = "*"
iso3166 = "*"

[requires]
python_version = "3.6"
